

    .imagM{
        width: 500px;
        height: auto;
    }

    .imag{
        width: 200px;
        height: 100px;
        padding-right: 40px;
        padding-top: 10px;
        margin-bottom: 0px;
    }



    @media (max-width: 499px) {

        .imagM{
            display: none;
        }
    }
    
    @media(min-width: 500px) {

        .imag{
            display: none;
        }
    }