.output{
    width: 60%;
    margin: 16px auto;
    border: 1px solid black;
    box-shadow: 1px 1px 2px black;
    padding: 10px;
    text-align: center;
    font-family: 'lato', sans-serif;
    background-color: transparent;
}

.h{
    margin : 10px 0px;
    color: teal;
    font-size: 40px;
}

.pa{
    margin: 10px 0px;
    padding: 0px 70px;
    align-items: center;
    color: white;
    font-size: 20px;
}

.output:hover{
    box-shadow: 2px 4px 12px black;
}

@media(max-width: 499px){
    .output{
        width: 80%;
    }

    h3{
        margin : 10px 0px;
        font-size: 29px;
    }
}