.cdiv{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 0% ;
    font-size: 29px;
    height: 800px;
    margin-bottom: 100px;
}

.para{
    padding-top: 20px;
}

@media(max-width: 499px){
    .cdiv{
        height: auto;
        margin-top: -60px;
    }
}