.cdiv{
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    padding-top: 0% ;
    font-size: 29px;
    height: 800px;
    margin-bottom: 250px;
}

p {
    text-indent: 500px;
    text-align: justify;
    letter-spacing: 1px;
    margin-top: 100px;
    padding-left:50px;
    padding-right:50px;
    line-height: 70px;
  }

@media(max-width: 499px){
    .cdiv{
        height: auto;
        margin-top: -60px;
        font-size: 20px;
    }

    p{
        text-indent: 100px;
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 50px;
    }
}