.App {
  text-align: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(#000503, #003c49, black);  
  margin-bottom:0;
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  position: relative;  
  height: 5900px;
}

